extends layout.pug

block mainContent
    form(action="/posts" method="post") 
        input(type="hidden" name="_csrf" value=csrfToken)
        label Title: 
        input(type="text" name="title")
        label Content: 
        input(type="text" name="content")
        label Subbreaddit: 
        select(name="subId")
            each sub in subs
                option(value=sub.id)= sub.name
        button Submit