html
    head
        title Breaddit
        link(rel="stylesheet" href="/css/test.css")
        script(src="/javascript/postDelete.js" type="module") 
        script(src="/javascript/postEdit.js" type="module") 
    nav
        ul
            li: a(href="/users") Users
            li: a(href="/") Home
            li: a(href="/posts/new") Create Post
            li: a(href="/users/signup") Sign Up!
            li: a(href="/users/login") Log In!
            li: a(href="/users/logout") Log Out!
            li: a(href="/posts") All Posts
    body
        block mainContent
    footer
        div This is a footer for Breaddit