html
    head
        title Breaddit
        link(rel="stylesheet", href="/css/test.css")
    nav
        ul
            li: a(href="/users") Users
            li: a(href="/") Home
            li: a(href="/posts/new") Create Post
    body
        block mainContent
    footer
        div This is a footer for Breaddit