extends layout.pug

block mainContent
    include utils.pug
    div.class-name#another-id.another-class
    div(class='test-class' id='some-id')
        table
            +createTable
            tbody
                each breadditor in breadditors
                    +userData(breadditor)
