mixin userData(breadditor)
    tr
        td= breadditor.name
        td= breadditor.email
        td= breadditor.country
        td= breadditor.password

mixin createTable
    thead
        tr
            th Name
            th Email
            th Country
            th Password